{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/board_detail_style.css' %}">
{% endblock css %}

{% block contents %}
<div style="margin-top:100px;"></div>
<main>
    <div class="posted-box">

        <div class="image-uploaded">
            <img src="{{post.image.url}}" alt="uploaded image" />
        </div>

        <div class="box-detail">

            <div class="posting-title">
                <p><a href="{% url 'profile' post.user.username %}" style="text-decoration: none;">{{post.user.profile.nickname}}님의</a></p>
                <p>{{ post.pub_date|date:"m"}}월{{ post.pub_date|date:"d"}}일 산행</p>
            </div>

            <div class="user-box">
                <img src="{{post.user.profile.image.url}}" alt="main user" />
                <div class="detail-text">
                    <p class="title">{{post.content}}</p>
                    <p class="hashtag">
                        {% for tag in post.tags.all %}
                        <span>#{{tag.name}}</span>
                        {% endfor %}
                    </p>
                    <p class="likes">
                        <button id="{{post.id}}" onclick="post_like(this.id)">
                            {%if request.user in post.blike.all%}
                            <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                            <i id="heart" class="fas fa-heart"></i>
                            {%else%}
                            <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                            <i id="heart" class="far fa-heart"></i>
                            {%endif%}
                            <span id="like_count">{{post.blike.count}}</span>
                        </button>
                    </p>
                    <p class="dates">{{ post.pub_date|date:"yy"}}년 {{ post.pub_date|date:"m"}}월 {{ post.pub_date|date:"d"}}일</p>
                </div>
            </div>

            <div class="other-user-box">
                {% for c in comment %}
                    <span>{{c.user}}</span> - {{c.content}}
                    {% if request.user == c.user or request.user.is_staff %}
                    <a href="{% url 'delete_bcomment' post.id c.id %}" style="text-decoration: none; font-size:10px; text-align:right;">삭제</a>
                    {% endif %}
                    <br>
                    {% endfor %}
            </div>

            <div class="comment-box">
                {% if user.is_authenticated %}
                <form action="{%url 'create_bcomment' post.id%}" method="POST">
                    {%csrf_token%}
                    <input type="text" name="comment" placeholder="댓글 달기...">
                    <button type="submit" class="posting-button">게시</button>
                </form>
                {% endif %}
            </div>


        </div>

    </div>

</main>

<script type="text/javascript">
    var d = new Date();
    var currentDate = d.getFullYear() + "년 " + (d.getMonth() + 1) + "월 " + d.getDate() + "일";
    var result = document.getElementById("time-result");
    result.innerHTML = currentDate;

    function post_like(id) {
        $.ajax({
            url: "{%url 'board_likes'%}", // data를 전송할 url 입니다.
            data: {
                'post_id': id
            }, // post_id 라는 name으로 id 값 전송
            dataType: "json",
            success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
                $('#message').html(response.message) //id가 message의 내용을 전송받은 message로 바꾼다
                $('.toast').fadeIn(400).delay(100).fadeOut(400) //class가 toast인 것을 서서히 나타나게 하는 메서드입니다.
                if (response.message == "좋아요")
                //좋아요 눌렀을 때 
                {
                    $('#heart').attr("class", "fas fa-heart")
                } else if (response.message == "좋아요 취소")
                //좋아요 상태에서 다시 눌렀을 때 
                {
                    $('#heart').attr("class", "far fa-heart")
                }
            }
        })
    }
    function dateToYear(date) {
        var year = date.getFullYear();
    
        var month = date.getMonth() + 1;
        if (month < 10)  {
            month = '0' + month;
        }
    
        var date = date.getDate();
        if (date < 10) {
            date = '0' + date;
        }
        
        return year + '' + month + '' + date;
    }
</script>

{% endblock %}