{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/create_style.css' %}">
{% endblock css %}

{% block contents %}
<div style="margin-top: 120px;"></div>
<main>
    <div class="posting-box">

        <div class="image-upload">
            <div class="class_map">
                <div class="main_container"></div>
                <div class="main-map">
                    <div id="map" style="width:380px;height:340px;"></div>
                    <!-- http://map.daum.net/?sName=서울시청&eName=서울고속터미널 -->
                    <script type="text/javascript"
                        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dfad8c8cf0702820c5111f7c4c05eb6&libraries=services"></script>
                </div>
            </div>
            <!-- 여기에 지도 api 올려주세요 -->
            <!-- <img src="./assets/image.jpg" alt="upload image" /> -->
        </div>

        <div class="box-detail">
            <p>{{request.user.profile.nickname}} 님의</p>
            <p><span id="time-result"></span> 산행</p>
            <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <input class="text-box" placeholder="장소:어디를 정복하셨나요?" name="title" id="title" />
                <select name="rating" class="text-box">
                    <option value="5" selected="selected">★★★★★</option>
                    <option value="4">★★★★</option>
                    <option value="3">★★★</option>
                    <option value="2">★★</option>
                    <option value="1">★</option>
                </select>
                <input class="text-box" placeholder="한줄평:간단히 말해주세요!:)" name="content" id="content" />
                <input class="hashtag-box" placeholder="#해쉬태그 입력" name="tags" id="tags" />
                <input type="hidden" name="latitude" id="lat"><br>
                <input type="hidden" name="longtitude" id="long"><br>
                <div class="button">
                    <input type="file" class="upload" name="image" id="image">
                    <button type="submit" class="posting" id="posting">올리기</button>
                </div>
            </form>

        </div>

    </div>

</main>


<script>
    var d = new Date();
    var currentDate = (d.getMonth() + 1) + "월 " + d.getDate() + "일";
    var result = document.getElementById("time-result");
    result.innerHTML = currentDate;

    $("#posting").click(function () {
        var file = $("#image").val();
        if ($("#title").val().length <= 0) {
            alert("제목을 입력하세요.");
            $("#title").focus();
            return false;
        }
        else if ($("#content").val().length <= 0) {
            alert("내용을 입력하세요.");
            $("#content").focus();
            return false;
        }
        else if ($("#lat").val().length <= 0) {
            alert("위치를 찍으세요.");
            return false;
        }
        else if (!file) {
            alert("사진을 첨부하세요.");
            return false;
        }
        else {
            $("#posting").submit();
        }
    });

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(35.871016, 127.7), // 지도의 중심좌표
            level: 13 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);
    var marker = new kakao.maps.Marker({
        map: map,
        position: map.getCenter()
    });
    marker.setMap(map);
    kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
        var latlng = mouseEvent.latLng;
        marker.setPosition(latlng);
        document.getElementById("lat").value = latlng.getLat();
        document.getElementById("long").value = latlng.getLng();
    });



    function addMarker(position, d_title, d_content, d_rating, d_image) {
        var marker = new kakao.maps.Marker({
            map: map,
            position: position
        });
        
    }
</script>
{% endblock %}