{% extends 'base.html' %}
{% block contents %}
<div>
    <div class="class_map">
        <div class="main_container"></div>
        <div class="main-map">
            <div id="map" style="width:200px;height:200px;"></div>
            <!-- http://map.daum.net/?sName=서울시청&eName=서울고속터미널 -->
            <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dfad8c8cf0702820c5111f7c4c05eb6&libraries=services"></script>
        </div>
    </div>
    <div class="class_create">
        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            제목:
            <input type="text" name="title">
            <br>
            본문: <textarea cols=20 rows=1 name="content"></textarea>
            <br>
            이미지: <input type="file" name="image"><br>
            위도 : <input type="text" name="latitude" id="lat"><br>
            경도 : <input type="text" name="longtitude" id="long"><br>
            공개여부 :
            <input type="radio" name="public" value="True">
            <input type="submit" value="등록하기">
        </form>
    </div>
</div>
<hr>
<div>
    {% for blog in blogs.all %}
    <h5> 제목 : {{blog.title}} </h5>
    작성시간 : {{blog.pub_date}} <br>
    내용 :{{blog.content}} <br>
    위도 :  {{blog.latitude}} <br>
    경도 :  {{blog.longtitude}}  <br>
    이미지 : {{blog.image}}
    <hr>
    {% endfor %}
</div>

<div id="post_lat">
    {% for blog in blogs.all %}
        {{blog.latitude}},
    {% endfor %}
</div>

<div id="post_lng">
    {% for blog in blogs.all %}
        {{blog.longtitude}},
    {% endfor %}
</div>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);
    var marker = new kakao.maps.Marker({
        position: map.getCenter()
    });
    marker.setMap(map);

    kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
        var latlng = mouseEvent.latLng;
        marker.setPosition(latlng);
        document.getElementById("lat").value = latlng.getLat();
        document.getElementById("long").value = latlng.getLng();
    });


    var list_lat = document.getElementById("post_lat").innerText.split(',');
    var list_lng = document.getElementById("post_lng").innerText.split(',');
    console.log(list_lat)
    console.log(list_lng)
    var postPosition = [];
    for(var idx=0; idx<list_lat.length; idx++){
    	var data_lat = list_lat[idx];
    	var data_lng = list_lng[idx];
    	postPosition.push(new kakao.maps.LatLng(data_lat, data_lng));
    }

    function addMarker(position) {
        var marker = new kakao.maps.Marker({
            position: position
        });
        marker.setMap(map);
        markers.push(marker);
    }
</script>
{% endblock %}